@charset "UTF-8";
.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 11px; /* ширина всей полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: white; /* цвет зоны отслеживания */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 3px solid whitesmoke; /* отступ вокруг бегунка */
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.exitLogo {
  stroke: none;
  stroke-width: 0;
  stroke-dasharray: none;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  fill: none;
  fill-rule: nonzero;
  opacity: 1;
}

.exitLogo path {
  stroke: none;
  stroke-width: 1;
  stroke-dasharray: none;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  fill: rgb(0, 0, 0);
  fill-rule: nonzero;
  opacity: 1;
}

@property --x {
  syntax: "<angle>";
  inherits: true;
  initial-value: 1deg;
}
@property --c {
  syntax: "<color>";
  inherits: true;
  initial-value: rgba(0, 0, 0, 0);
}
.neon {
  --x: 1deg;
  --c: #0000;
  font-size: 3rem;
  appearance: none;
  position: relative;
  aspect-ratio: 2;
  border-radius: 100em;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.0666666667), rgba(0, 0, 0, 0)), #444143;
  width: 1em;
  box-shadow: inset 0 0 0.25em -0.25em rgba(0, 0, 0, 0.5333333333), inset 0.05em 0.05em 0.2em #000811, inset -0.05em -0.05em 0.15em 0.05em rgba(204, 204, 204, 0.0666666667), 0 0 0 0.11em #545153;
  transition: --x 0.5s, --c 0.35s, box-shadow 0.5s;
  filter: drop-shadow(0 0 0.2em var(--c));
}
.neon::before {
  content: "";
  position: absolute;
  height: 80%;
  aspect-ratio: 1;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  background: #545153;
  box-shadow: inset -0.05em -0.05em 0.1em rgba(0, 0, 0, 0.5333333333), inset 0.05em 0.05em 0.1em rgba(255, 255, 255, 0.1333333333), inset 0.05em 0em 0.1em -0.065em var(--c), 0.1em 0.1em 0.15em rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  transition: left 0.5s, box-shadow 0.15s;
}
.neon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 0.25em);
  height: calc(100% + 0.25em);
  border: 0.1em solid #0ff;
  border-radius: 100em;
  -webkit-mask: conic-gradient(from calc(270deg - var(--x)), #000 calc(2 * var(--x)), rgba(0, 0, 0, 0.0666666667) 0);
  box-shadow: 0 0 0 2em rgba(0, 0, 0, 0); /* hack for safari */
}
.neon:hover {
  --x: 15deg;
  --c: #0ff5;
  box-shadow: inset 0 0 0.25em -0.25em rgba(0, 0, 0, 0.5333333333), inset 0.05em 0.05em 0.2em #000811, inset -0.05em -0.05em 0.15em 0.05em rgba(204, 204, 204, 0.0666666667), 0 0 0.05em 0.075em #545153;
}
.neon:checked {
  --x: 180deg;
  --c: #0fff;
  box-shadow: inset 0 0 0.25em -0.25em rgba(0, 0, 0, 0.5333333333), inset 0.05em 0.05em 0.2em #000811, inset -0.05em -0.05em 0.15em 0.05em rgba(204, 204, 204, 0.0666666667), 0 0 0.1em 0.05em #545153;
}
.neon:checked::before {
  left: 75%;
  box-shadow: inset -0.05em -0.05em 0.1em rgba(0, 0, 0, 0.5333333333), inset 0.05em 0.05em 0.1em rgba(255, 255, 255, 0.1333333333), inset -0.05em 0em 0.1em -0.035em var(--c), 0.1em 0.1em 0.15em rgba(0, 0, 0, 0.8);
}
.neon[disabled] {
  opacity: 0.25;
}

@media print {
  .neon {
    background: none;
  }
  .neon, .neon::before, .neon::after {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
@media (prefers-reduced-motion) {
  .neon, .neon::before, .neon::after {
    transition: none !important;
    animation: none !important;
  }
}

/*# sourceMappingURL=App.css.map */
