.App {
  text-align: center;
}
::-webkit-scrollbar {
  width: 11px;               /* ширина всей полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: white;        /* цвет зоны отслеживания */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 50%);    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
  border: 3px solid whitesmoke;  /* отступ вокруг бегунка */
}